.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon_button {
    border: 0;
    padding: 0;
    margin: .5rem;
    border-radius: 1rem;
}

button:hover {
    opacity: 0.9;
    cursor: pointer;
}

#pokemonDetailModal {
    display: none;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pokemonDetailModalContent {
    padding-top: 1rem;
    border-radius: 1rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
}

.header {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.header .name {
    color: #fff;
    font-size: 1.5rem;
}

.header .number {
    color: #fff;
    text-align: right;
    font-size: .6rem;
}

.header .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.header .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .75rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.header .detail img {
    max-width: 100%;
    height: 120px;
    margin-top: 1rem;
}

.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: .75rem;
    color: #ccc;
}

.tab button:first-child {
    color: #000;
    text-decoration: underline;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button:link {
    text-decoration: none;
}

.close {
    color: gray;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.feature {
    font-size: .75rem;
    height: 200px;
}

.featureItem {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.featureItem span {
    color: #ccc;
}

.featureItem p {
    margin: 0;
}

.footer {
    background-color: #f1f1f1;
    border-radius: 1rem;
}

.pokemon {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}